
header{
  background-color: #1ABC9C;

}

.__nav-bar{
  /* border: 2px solid black; */
  background-color: #2C3E50;
  color: white;
  
  
}


/* .__header-container{
  border: 2px solid black;
  background-color: #1ABC9C;

} */

.__portfolio{
  background-color: white;
}



.__about{
  background-color: #1ABC9C;
  color: white;
}

#about-btn{
  color: white;
  border-color: white;
}

.__contact-me{
  background-color: white;
}

.__contact-btn{
  background-color: #1ABC9C;
  border: none;
}

.__footer-info{
  background-color: #3A546D;
  color: white;
}

.__footer-copyrights{
  background-color: #2C3E50;
  color: white;

}

.__around-the-web a{
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.__about-freelancer a{
  color: #1ABC9C;
  text-decoration: none;
}

.form-control::placeholder{
  color: #333333;
}

.__separator-line{
  height: 3px;
  width: 145px;  
  border-radius: 25px;
}

.__contact-me .__separator-line, .__portfolio .__separator-line{
  background-color: #2C3E50;
  
}



.__header-container .my-separator .__separator-line, .__about-inner .__separator-line{
  background-color: white;
}